{% extends 'base.html' %}

{% block content %}
    <section>
        <div class="container py-5">
            <div class="row py-5 align-items-center align-content-center justify-content-center">
                <div class="col-lg-6 my-bg-1 p-5" style="border-radius: 20px;">
                    {% include 'partials/_alert.html' %}
                    <div class="p-5">
                        {% for data in query_set_list %}
                            {% if data.revised_cv %}
                                <a class="btn btn-outline-warning" href="{{ data.revised_cv.url }}">Download CV</a
                            {% else %}
                                <p class="text-center lead color-1">
                                    Our staff are currently working on your job winning CV to help you achieve high
                                    points, we will notify you when it is ready.
                                    If it's been more than ten working days since you uploaded your CV yet have not
                                    received your
                                    job winning cv, contact us on
                                    <a href="tel:+233543833501" class="color-1 text-decoration-none text-warning">
                                        +233 543833501
                                    </a> or
                                    <a href="mailto:contact@talentbuilder.top"
                                       class="color-1 text-decoration-none text-warning">
                                        contact@talentbuilder.top
                                    </a>
                                </p>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}