{% extends 'base.html' %}

{% load static %}
{% block title %} | Get Your Job Winning CV {% endblock %}
{% block content %}

    <section class="my-bg-2">
        {#            top ads#}
        <div class="container-fluid">
            <div class="row pt-5">
                <div class="col-12">
                    <a target="_blank" href="{{ topAd.link }}">
                        <img class="img-fluid" src="{{ topAd.image.url }}" style="width: 100%"
                             alt="{{ topAd.title }}">
                    </a>
                </div>
            </div>
        </div>
        {#            end of top ads#}

        <div class="container-fluid my-bg-2">
            <div class="row pt-5">
                <div class="col pt-5">
                    <h1 class="color-2 text-center text-uppercase">Get your Job Winning CV</h1>
                    <hr>
                </div>
            </div>
            <div class="row align-items-center justify-content-center">
                {#                left ad#}
                <div id="leftAd" class="col-lg-3">
                    <a target="_blank" href="{{ leftAd.link }}">
                        <img class="img-fluid" src="{{ leftAd.image.url }}" alt="{{ leftAd.title }}">
                    </a>
                </div>
                {#                end of left ad#}

                <div class="col-xl-5 col-md-8">
                    <div class="my-bg-1 my-5 p-5">
                        {% include 'partials/_alert.html' %}
                        <form action="{% url 'upload_cv' %}" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="form-group mt-3">
                                <input id="name" type="text" class="form-control form-control-lg"
                                       placeholder="enter your name" name="name" maxlength="255" required>
                            </div>
                            <div class="form-group mt-3">
                                <input id="email" type="email" class="form-control form-control-lg"
                                       placeholder="enter your email" name="email" maxlength="255" required>
                            </div>
                            <div class="form-group mt-3">
                                <input id="phone" type="tel" class="form-control form-control-lg"
                                       placeholder="enter your phone number" name="phone" maxlength="20" required>
                            </div>
                            <div class="input-group mt-3">
                                <select name="cv_format" class="form-control form-control-lg" required>
                                    <option value=""></option>
                                    <option name="modern_cv" value="modern cv">Modern CV</option>
                                    <option name="traditional_cv" value="traditional cv">Traditional CV</option>
                                </select>
                                <div class="input-group-append">
                                    <button type="button" class="btn my-bg-2 color-2">CV Format / Style</button>
                                </div>
                            </div>
                            <div class="input-group my-3">
                                <input type="file" class="form-control form-control-lg" name="cv_upload" required>
                                <!--                        append-->
                                <div class="input-group-append">
                                    <button type="button" class="btn my-bg-2 color-2">Upload CV</button>
                                </div>
                            </div>
                            <div>
                                <input type="checkbox" name="agree_to_terms" value="true" required>
                                <span class="color-1">I agree to
                                        <a class="text-warning" href="{% url 'terms' %}">terms and conditions</a>
                                        and
                                        <a class="text-warning" href="{% url 'privacy' %}">privacy policy</a>
                                    </span>
                            </div>
                            <div class="form-group mt-3">
                                <input type="submit" value="Upload" class="btn btn-block btn-outline-warning">
                            </div>
                        </form>
                    </div>
                </div>

                {#                right ad#}
                <div id="rightAd" class="col-lg-3">
                    <a target="_blank" href="{{ rightAd.link }}">
                        <img class="img-fluid" src="{{ rightAd.image.url }}" alt="{{ rightAd.title }}">
                    </a>
                </div>
                {#                end of right ad#}
            </div>
        </div>

        {#            bottom ads#}
        <div class="container-fluid">
            <div class="row p-5 mb-5">
                {% for data in bottomAd %}
                    <div class="col-3">
                        <a target="_blank" href="{{ data.link }}"><img class="img-fluid" src="{{ data.image.url }}"
                                                                       alt="{{ data.title }}"></a><br>
                        <a target="_blank" href="{{ data.link }}" style="font-size: 1.2rem; font-weight: bold"
                           class="color-2">{{ data.title }}</a>
                    </div>
                {% endfor %}
            </div>
        </div>
        {#            end of bottom ads#}
    </section>

{% endblock %}