{% extends 'base.html' %}

{% block title %} | You Have Achieved High Points {% endblock %}
{% block content %}
    <section id="appreciation" class="my-bg-2">
        {#            top ads#}
        <div class="container-fluid">
            <div class="row pt-5">
                <div class="col-12">
                    {% if topAd %}
                        {% if topAd.link %}
                            <a target="_blank" href="{{ topAd.link }}">
                                <img class="img-fluid" src="{{ topAd.image.url }}" style="width: 100%"
                                     alt="{{ topAd.title }}">
                            </a>
                        {% endif %}
                        {% if topAd.html_tag %}
                            {{ topAd.html_tag | safe }}
                        {% endif %}

                    {% endif %}
                </div>
            </div>
        </div>
        {#            end of top ads#}

        <div class="container-fluid p-5">
            <h1 class="color-2 text-center pt-5">YOU HAVE ACHIEVED HIGH POINTS!!!!!!!</h1>
            <hr>
            <div class="row align-items-center justify-content-center pt-5">
                {#                left ad#}
                <div id="leftAd" class="col-lg-4 pt-5">
                    {% if leftAd %}
                        {% if leftAd.link %}
                            <a target="_blank" href="{{ leftAd.link }}">
                                <img class="img-fluid" src="{{ leftAd.image.url }}" alt="{{ leftAd.title }}">
                            </a>
                        {% endif %}
                        {% if leftAd.html_tag %}
                            {{ leftAd.html_tag | safe }}
                        {% endif %}
                    {% endif %}
                </div>
                {#                end of left ad#}

                <div class="col-xl-4  my-bg-1 p-5" style="border-radius: 15px">
{#                    {% include 'partials/_alert.html' %}#}
                    <p class="lead color-1 p-5">
                        You have achieved high points!!!!!!!!!!!!!.
                        As promised, we have sent you an email with the link to your portfolio website.
                        If you didn't receive the mail, check your spam box. If it's not in your spam box,
                         contact us on
                        <a href="tel:+233543833501" class="color-1 text-decoration-none text-warning">
                            +233 543833501
                        </a> or
                        <a href="mailto:contact@talentbuildergh.com" class="color-1 text-decoration-none text-warning">
                            contact@talentbuildergh.com
                        </a>
                    </p>
                </div>

                {#                right ad#}
                <div id="rightAd" class="col-lg-4 pt-5">
                    {% if rightAd %}
                        {% if rightAd.link %}
                            <a target="_blank" href="{{ rightAd.link }}">
                                <img class="img-fluid" src="{{ rightAd.image.url }}" alt="{{ rightAd.title }}">
                            </a>
                        {% endif %}
                        {% if rightAd.html_tag %}
                            {{ rightAd.html_tag | safe }}
                        {% endif %}
                    {% endif %}
                </div>
                {#                end of right ad#}
            </div>
        </div>

        {#            bottom ads#}
        <div class="container-fluid">
            <div class="row p-5 mb-5">
                {% for data in bottomAd %}
                    <div class="col-2">
                        {% if data.link %}
                            <a target="_blank" href="{{ data.link }}"><img class="img-fluid" src="{{ data.image.url }}"
                                                                           alt="{{ data.title }}"></a><br>
                            <a target="_blank" href="{{ data.link }}" style="font-size: 1.2rem; font-weight: bold"
                               class="color-2">{{ data.title }}</a>
                        {% endif %}
                        {% if data.html_tag %}
                            {{ data.html_tag | safe }}
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
        {#            end of bottom ads#}
    </section>
{% endblock %}