{% extends 'base.html' %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="container">
                    <div class="row">
                        <div class="col py-5">
                            <h1 class="color-2 py-5">Terms and Conditions</h1>
                            <p class="color-2 lead">Updated January 2020</p>
                            <div>
                                <p>
                                    Please read this agreement carefully before accessing or using the information and
                                    services available through the TalentBuilder.com website ("Site"). By accessing or
                                    using the Site, you agree to be bound by the terms and conditions below.
                                    Talent Builder may modify this agreement at any time, and such modifications shall
                                    be
                                    effective immediately upon posting the modified agreement on the Site. Advertiser
                                    Terms and Conditions must be accepted and adhered to by Advertisers who use
                                    Talent Builder services and the Site.
                                    Talent Builder reserves the right to update these terms and conditions
                                    with/without prior notice.
                                </p>
                                <p>
                                    <strong class="color-2">Free CV writing and portfolio website</strong><br>
                                    TalentBuilder services is free of charge. Professional CV writing as well as
                                    responsive portfolio websites packages are all free of charge. We are not
                                    responsible for any form of payment made to any third party be it cash or in kind.
                                </p>
                                <p>
                                    <strong class="color-2">User's obligation</strong><br>
                                    TalentBuilder allow users to upload, post, and/or distribute user-submitted content,
                                    and use of the Site for this purpose is subject to the following conditions:

                                    You understand that all user feedback, data, comments, suggestions, information,
                                    text, data, software, sounds, photographs, audio, audiovisual, video, artwork,
                                    graphics, messages and other materials of any nature ("Materials") that are
                                    transmitted to or via the Site are the sole responsibility of the person from which
                                    the Materials originated. This means you, and not TalentBuilder, are entirely
                                    responsible for the Materials you transmit through the Site. Further, you understand
                                    that by using the Site you may be exposed to Materials that are offensive,
                                    objectionable or indecent.

                                    You shall not upload to, distribute through or otherwise publish through the Site
                                    any Materials which are indecent, libelous, defamatory, obscene, threatening,
                                    invasive of privacy or publicity rights, abusive, illegal, harassing, contain
                                    expressions of hatred, bigotry, racism or pornography, or are otherwise
                                    objectionable, or that would constitute or encourage a criminal offense, violate the
                                    rights of any party or violate any law.

                                    Your Materials shall not infringe the copyright, trademark, publicity/privacy right
                                    or other intellectual property right of any third party.

                                    You shall not upload to the Site any Materials that contain viruses or any other
                                    computer code, corrupt files or programs designed to interrupt, destroy or limit the
                                    functionality or disrupt any software, hardware, telecommunications, networks,
                                    servers or other equipment.
                                </p>
                                <p>
                                    <strong class="color-2">Links to third party sites</strong><br>
                                    TalentBuilder may provides links and pointers to Internet sites maintained by third
                                    parties from its Site. Such linked sites are not under the control of TalentBuilder
                                    and
                                    TalentBuilder is not responsible for the contents (including the accuracy, legality
                                    or
                                    decency) of any linked site or any link contained in a linked site. TalentBuilder is
                                    providing these links to you only as a convenience, and the inclusion of any link
                                    does not imply endorsement by TalentBuilder of the linked site. TalentBuilder is not
                                    responsible for the copyright compliance of any linked site. TalentBuilder will not
                                    be
                                    liable for any damages or loss arising in any way out of or in connection with or
                                    incidental to any information or third party service provided by any third party.
                                </p>
                                <p>
                                    <strong class="color-2">No guarantee as to security of information</strong><br>
                                    While TalentBuilder takes all due care in ensuring the privacy and integrity of the
                                    information you provide, the possibility exists that this information could be
                                    unlawfully observed by a third party while in transit over the Internet or while
                                    stored on TalentBuilder systems or on TalentBuilder's Site. TalentBuilder disclaims
                                    all liability to you to the greatest extent possible pursuant to law should this
                                    occur.
                                </p>
                                <p>
                                    <strong class="color-2">General provisions</strong><br>
                                    If any part of this agreement is held invalid that part shall be severed from this
                                    agreement and the remainder of this agreement will continue to be valid and
                                    enforceable.

                                    Termination of this agreement will not end those provisions that are capable of
                                    surviving the ending of this agreement.

                                    The laws governing this agreement will be the laws of Ghana and you irrevocably
                                    submit to the exclusive jurisdiction of its Courts.

                                    For the purposes of this agreement the words "TalentBuilder", "We",
                                    "Our" and "Us" refer to TalentBuilder.com and "Site" to materials delivered on
                                    www.TalentBuilder.com.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
